<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Add product</title>
  </head>
  <body>
    <header>
      <nav class="navbar is-warning" role="navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/donut.gif" width="28" height="28">
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">Shop</a>
            <a href="/add-product" class="navbar-item">Add Product</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">More</a>
              <div class="navbar-dropdown">
                <a class="navbar-item">About</a>
                <a class="navbar-item">Jobs</a>
                <a class="navbar-item">Contact</a>
                <hr class="navbar-divider">
                <a class="navbar-item">Report an issue</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="section">
      <h1 class="title">Add a product</h1>
      <form class="field has-addons" action="/admin/add-product" method="POST">
        <div class="control">
          <input name="product-name" class="input" type="text" placeholder="Text goes here">
        </div>
        <div class="control">
          <button type="submit" name="button" class="button is-info">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
